# Part One: Text Cleaning

Implement a text-cleaning function that conforms to the test-cases outlined below.

In [6]:
import numpy as np
import pandas as pd
import re

In [49]:
# clean_number
# Returns float/integer value of input text after minor text-cleaning, or 
# returns np.NaN if numeric value cannot be parsed without making excessive assumptions.
# Input: text (string)
# Output: numeric (int, float) or np.nan
def clean_number(text):
    try:
        return float(text)
    except ValueError:
        return np.nan

In [50]:
float(' 90.  ')

90.0

#### The clean_number method should conform to pass the following test-cases:

In [51]:
result = clean_number('90')
assert(result == 90), result

In [52]:
result = clean_number(' 90')
assert(result == 90), result

In [53]:
result = clean_number('90.0')
assert(result == 90), result

In [54]:
result = clean_number('9.0.0')
assert(np.isnan(result)), result

In [55]:
result = clean_number('90.0!')
assert(np.isnan(result)), result

In [56]:
result = clean_number('90*')
assert(np.isnan(result)), result

In [57]:
result = clean_number('90hello')
assert(np.isnan(result)), result

In [58]:
result = clean_number('hello90')
assert(np.isnan(result)), result

# Part Two: Weather Data

1. Read an input file, 'weather.csv' to a Pandas DataFrame


2. Add a new column that represents the temperature spread for the day. 

    **Spread** = maximum temp (**MxT**) - minimum temp (**MnT**)
    
Hint: The method implemented above *might* be useful!

In [59]:
# Read file here
df = pd.read_excel("weather_clean.xlsx")
df.rename(columns={'Mn': 'MnR', 'R AvSLP': 'AvSLP'}, inplace=True)
df

,Dy,MxT,MnT,AvT,HDDay,AvDP,1HrP,TPcpn,WxType,PDir,AvSp,Dir,MxS,SkyC,MxR,MnR,AvSLP
0,1,88,59,74,NaN,53.8,NaN,0,F,280,9.6,270,17,1.6,93,23,1004.5
1,2,79,63,71,NaN,46.5,NaN,0,NaN,330,8.7,340,23,3.3,70,28,1004.5
2,3,77,55,66,NaN,39.6,NaN,0,NaN,350,5.0,350,9,2.8,59,24,1016.8
3,4,77,59,68,NaN,51.1,NaN,0,NaN,110,9.1,130,12,8.6,62,40,1021.1
4,5,90,66,78,NaN,68.3,NaN,0,TFH,220,8.3,260,12,6.9,84,55,1014.4
5,6,81,61,71,NaN,63.7,NaN,0,RFH,30,6.2,30,13,9.7,93,60,1012.7
6,7,73,57,65,NaN,53.0,NaN,0,RF,50,9.5,50,17,5.3,90,48,1021.8
7,8,75,54,65,NaN,50.0,NaN,0,FH,160,4.2,150,10,2.6,93,41,1026.3
8,9,86,32,59,6.0,61.5,NaN,0,NaN,240,7.6,220,12,6.0,78,46,1018.6
9,10,84,64,74,NaN,57.5,NaN,0,F,210,6.6,50,9,3.4,84,40,1019.0
10,11,91,59,75,NaN,66.3,NaN,0,H,250,7.1,230,12,2.5,93,45,1012.6
11,12,88,73,81,NaN,68.7,NaN,0,RTH,250,8.1,270,21,7.9,94,51,1007.0
12,13,70,59,65,NaN,55.0,NaN,0,H,150,3.0,150,8,10.0,83,59,1012.6
13,14,61,59,60,5.0,55.9,NaN,0,RF,60,6.7,80,9,10.0,93,87,1008.6
14,15,64,55,60,5.0,54.9,NaN,0,F,40,4.3,200,7,9.6,96,70,1006.1
15,16,79,59,69,NaN,56.7,NaN,0,F,250,7.6,240,21,7.8,87,44,1007.0
16,17,81,57,69,NaN,51.7,NaN,0,T,260,9.1,270,29,5.2,90,34,1012.5
17,18,82,52,67,NaN,52.6,NaN,0,NaN,230,4.0,190,12,5.0,93,34,1021.3
18,19,81,61,71,NaN,58.9,NaN,0,H,250,5.2,230,12,5.3,87,44,1028.5
19,20,84,57,71,NaN,58.9,NaN,0,FH,150,6.3,160,13,3.6,90,43,1032.5
20,21,86,59,73,NaN,57.7,NaN,0,F,240,6.1,250,12,1.0,87,35,1030.7
21,22,90,64,77,NaN,61.1,NaN,0,H,250,6.4,230,9,0.2,78,38,1026.4
22,23,90,68,79,NaN,63.1,NaN,0,H,240,8.3,230,12,0.2,68,42,1021.3
23,24,90,77,84,NaN,67.5,NaN,0,H,350,8.5,10,14,6.9,74,48,1018.2
24,25,90,72,81,NaN,61.3,NaN,0,NaN,190,4.9,230,9,5.6,81,29,1019.6
25,26,97,64,81,NaN,70.4,NaN,0,H,50,5.1,200,12,4.0,107,45,1014.9
26,27,91,72,82,NaN,69.7,NaN,0,RTH,250,12.1,230,17,7.1,90,47,1009.0
27,28,84,68,76,NaN,65.6,NaN,0,RTFH,280,7.6,340,16,7.0,100,51,1011.0
28,29,88,66,77,NaN,59.7,NaN,0,NaN,40,5.4,20,9,5.3,84,33,1020.6
29,30,90,45,68,NaN,63.6,NaN,0,H,240,6.0,220,17,4.8,200,41,1022.7

In [60]:
# Add a new column for the temperature spread here.
df['Spread'] = df.MxT - df.MnT
df

,Dy,MxT,MnT,AvT,HDDay,AvDP,1HrP,TPcpn,WxType,PDir,AvSp,Dir,MxS,SkyC,MxR,MnR,AvSLP,Spread
0,1,88,59,74,NaN,53.8,NaN,0,F,280,9.6,270,17,1.6,93,23,1004.5,29
1,2,79,63,71,NaN,46.5,NaN,0,NaN,330,8.7,340,23,3.3,70,28,1004.5,16
2,3,77,55,66,NaN,39.6,NaN,0,NaN,350,5.0,350,9,2.8,59,24,1016.8,22
3,4,77,59,68,NaN,51.1,NaN,0,NaN,110,9.1,130,12,8.6,62,40,1021.1,18
4,5,90,66,78,NaN,68.3,NaN,0,TFH,220,8.3,260,12,6.9,84,55,1014.4,24
5,6,81,61,71,NaN,63.7,NaN,0,RFH,30,6.2,30,13,9.7,93,60,1012.7,20
6,7,73,57,65,NaN,53.0,NaN,0,RF,50,9.5,50,17,5.3,90,48,1021.8,16
7,8,75,54,65,NaN,50.0,NaN,0,FH,160,4.2,150,10,2.6,93,41,1026.3,21
8,9,86,32,59,6.0,61.5,NaN,0,NaN,240,7.6,220,12,6.0,78,46,1018.6,54
9,10,84,64,74,NaN,57.5,NaN,0,F,210,6.6,50,9,3.4,84,40,1019.0,20
10,11,91,59,75,NaN,66.3,NaN,0,H,250,7.1,230,12,2.5,93,45,1012.6,32
11,12,88,73,81,NaN,68.7,NaN,0,RTH,250,8.1,270,21,7.9,94,51,1007.0,15
12,13,70,59,65,NaN,55.0,NaN,0,H,150,3.0,150,8,10.0,83,59,1012.6,11
13,14,61,59,60,5.0,55.9,NaN,0,RF,60,6.7,80,9,10.0,93,87,1008.6,2
14,15,64,55,60,5.0,54.9,NaN,0,F,40,4.3,200,7,9.6,96,70,1006.1,9
15,16,79,59,69,NaN,56.7,NaN,0,F,250,7.6,240,21,7.8,87,44,1007.0,20
16,17,81,57,69,NaN,51.7,NaN,0,T,260,9.1,270,29,5.2,90,34,1012.5,24
17,18,82,52,67,NaN,52.6,NaN,0,NaN,230,4.0,190,12,5.0,93,34,1021.3,30
18,19,81,61,71,NaN,58.9,NaN,0,H,250,5.2,230,12,5.3,87,44,1028.5,20
19,20,84,57,71,NaN,58.9,NaN,0,FH,150,6.3,160,13,3.6,90,43,1032.5,27
20,21,86,59,73,NaN,57.7,NaN,0,F,240,6.1,250,12,1.0,87,35,1030.7,27
21,22,90,64,77,NaN,61.1,NaN,0,H,250,6.4,230,9,0.2,78,38,1026.4,26
22,23,90,68,79,NaN,63.1,NaN,0,H,240,8.3,230,12,0.2,68,42,1021.3,22
23,24,90,77,84,NaN,67.5,NaN,0,H,350,8.5,10,14,6.9,74,48,1018.2,13
24,25,90,72,81,NaN,61.3,NaN,0,NaN,190,4.9,230,9,5.6,81,29,1019.6,18
25,26,97,64,81,NaN,70.4,NaN,0,H,50,5.1,200,12,4.0,107,45,1014.9,33
26,27,91,72,82,NaN,69.7,NaN,0,RTH,250,12.1,230,17,7.1,90,47,1009.0,19
27,28,84,68,76,NaN,65.6,NaN,0,RTFH,280,7.6,340,16,7.0,100,51,1011.0,16
28,29,88,66,77,NaN,59.7,NaN,0,NaN,40,5.4,20,9,5.3,84,33,1020.6,22
29,30,90,45,68,NaN,63.6,NaN,0,H,240,6.0,220,17,4.8,200,41,1022.7,45

In [61]:
# Output the minimum valid temperature spread (exclude NaN)
df.Spread.min()

2

In [62]:
# Output the day(s) corresponding with the minimum temperature spread
df.loc[df['Spread'].idxmin()]['Dy']

14

# Part Three: Soccer League Table

The file 'football.csv' contains soccer results. Add a new column that represents the difference in 'for' (F) and 'against' (A) goals.  The columns labeled F and A contain the total number of goals scored for and against each team in that season (so Arsenal scored 79 goals against opponents and had 36 goals scored against them).

Write a program to print the name of the team with the smallest difference in for and against goals.

In [63]:
# Your work here
ft = pd.read_csv("football.csv")
print(ft.dtypes, ft.columns)
ft

Team     object
P       float64
W        object
L        object
D        object
F        object
A        object
Pts     float64
dtype: object Index(['Team', 'P', 'W', 'L', 'D', 'F', 'A', 'Pts'], dtype='object')

             Team     P      W      L      D      F      A   Pts
0         Arsenal  38.0     26      9      3     79     36  87.0
1       Liverpool  38.0     24      8      6     67     30  80.0
2    Manchester_U  38.0     24      5      9     87     45  77.0
3       Newcastle  38.0    21w     8L      9   F 74   A 52  71.0
4           Leeds  38.0     18     12      8     53     37  66.0
5         Chelsea  38.0     17     13      8     66     38  64.0
6        West_Ham  38.0     15      8    *15     48     57  53.0
7     Aston_Villa  38.0     12     14     12     46     47  50.0
8       Tottenham  38.0    14w     8l     16     49     53  50.0
9       Blackburn  38.0     12     10     16     55     51  46.0
10    Southampton  38.0     12      9     17     46     54  45.0
11  Middlesbrough  38.0     12      9     17   F 35   A 47  45.0
12         Fulham  38.0     10     14     14     36     44  44.0
13       Charlton  38.0     10     14     14     38     49  44.0
14        Everton  38.0     11     10     17     45     57  43.0
15         Bolton  38.0      9     13     16     44     62  40.0
16     Sunderland  38.0  10.00  10.00  18.00  29.00  51.00  40.0
17        Ipswich  38.0      9      9     20     41     64  36.0
18          Derby  38.0      8      6     24     33     63  30.0
19      Leicester  38.0      5     13     20   30**     64  28.0

In [64]:
for c in ft.columns:
    try:
        ft[c] = ft[c].apply(lambda x: int(re.findall('\d+', str(x))[0]))
    except IndexError:
        continue
ft['Goal_dif'] = ft.F - ft.A
ft

             Team   P   W   L   D   F   A  Pts  Goal_dif
0         Arsenal  38  26   9   3  79  36   87        43
1       Liverpool  38  24   8   6  67  30   80        37
2    Manchester_U  38  24   5   9  87  45   77        42
3       Newcastle  38  21   8   9  74  52   71        22
4           Leeds  38  18  12   8  53  37   66        16
5         Chelsea  38  17  13   8  66  38   64        28
6        West_Ham  38  15   8  15  48  57   53        -9
7     Aston_Villa  38  12  14  12  46  47   50        -1
8       Tottenham  38  14   8  16  49  53   50        -4
9       Blackburn  38  12  10  16  55  51   46         4
10    Southampton  38  12   9  17  46  54   45        -8
11  Middlesbrough  38  12   9  17  35  47   45       -12
12         Fulham  38  10  14  14  36  44   44        -8
13       Charlton  38  10  14  14  38  49   44       -11
14        Everton  38  11  10  17  45  57   43       -12
15         Bolton  38   9  13  16  44  62   40       -18
16     Sunderland  38  10  10  18  29  51   40       -22
17        Ipswich  38   9   9  20  41  64   36       -23
18          Derby  38   8   6  24  33  63   30       -30
19      Leicester  38   5  13  20  30  64   28       -34

In [65]:
ft['Goal_dif'].abs().min()
ft.loc[ft['Goal_dif'].abs().idxmin()]['Team']

'Aston_Villa'

# Part Four: DRY Fusion

Take the two programs written previously and factor out as much common code as possible, leaving you with two smaller programs and some kind of shared functionality.

In [46]:
# Your work here
def find_var_min_value(df, col1, col2, tcol):
    """
    returns the tcol value coresponding to the minimum 
    difference between col1 and col2 
    """
    for c in df.columns:
        try:
            df[c] = df[c].apply(lambda x: int(re.findall('\d+', str(x))[0]))
        except IndexError: 
            continue
    df['col_dif'] = df[col1] - df[col2]
    min_dif_val = df['col_dif'].abs().min()
    min_dif_entry = df.loc[df['col_dif'].abs().idxmin()][tcol]
    
    return min_dif_entry

In [47]:
find_var_min_value(df, 'MxT', 'MnT', 'Dy')

14

In [48]:
find_var_min_value(ft, 'F', 'A', 'Team')

'Aston_Villa'